<div>
  <header>
    <div class="container">
      <a routerLink="/" class="logo">My Café</a>
      <nav>
        <ul>
          <li *ngIf="!isAuth">
            <a routerLink="/login">Login</a>
          </li>
          <li *ngIf="isAuth" class="menu-container">
            <a routerLink="/dashboard">{{user.name}}</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a (click)="logout()">Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
            </a>
            <a routerLink="/favorites-page">Favourite</a>
            <a routerLink="/contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
