<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
[visible]="!cart || !cart.items.length"
notFoundMessage="Cart Page is empty"
resetLinkText="Go To Homapage"></app-not-found>

<div *ngIf="cart && cart.items.length" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.food.imageUrl"/>
            </div>
            <div>
                <a routerLink="/food/{{cartItem.food.id}}">
                    {{cartItem.food.name}}
                </a>
            </div>
            <div>
                <div class="quantity-control">
                    <button (click)="decrementQuantity(cartItem)">-</button>
                    <span>{{cartItem.quantity}}</span>
                    <button (click)="incrementQuantity(cartItem)">+</button>
                </div>
            </div>
            <div>
                {{cartItem.price | currency}}
            </div>
            <div>
                <button class="remove-button"(click)="removeFromCart(cartItem)">Remove</button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="foods-count">{{cart.totalCount}}</div>
        </div>
        <div>
            <div class="total-price">{{cart.totalPrice }}</div>
        </div>
        <a href="/checkout">Proceed to Checkouy</a>
    </div>
</div>
